<nav>
    <ul class="flex gap-4">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li>
            <a href="{% url 'post:post_detail' slug='el-inicio-de-la-ia' %}"
                >Ver Post</a
            >
        </li>
        <li><a href="{% url 'user:user_profile' %}">Perfil</a></li>
        <li><a href="{% url 'user:auth_login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
    </ul>
</nav>
       
<nav>
    <ul class="flex gap-4">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        {% if user.is_authenticated %}
            <!-- Mostrar opciones si el usuario está autenticado -->
            <li><a href="{% url 'user:user_profile' %}">Perfil</a></li>
            <li>
                <form method="POST" action="{% url 'user:auth_logout' %}">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            </li>
        {% else %}
            <!-- Mostrar opciones si el usuario NO está autenticado -->
            <li><a href="{% url 'user:auth_login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>
